<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts_akb_10118314">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS_AKB_10118314">
        <activity android:name=".main.diary.UpdateActivity"></activity>
        <activity android:name=".main.diary.SaveActivity" />
        <activity android:name=".main.diary.NotesActivity" />
        <activity android:name=".main.diary.ListNoteActivity" />
        <activity android:name=".main.diary.SaveCategoryActivity" />
        <activity android:name=".main.about.AboutActivity" />
        <activity android:name=".main.diary.CategoriActivity" />
        <activity
            android:name=".main.viewpager.ViewPagerActivity"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.profile.ProfileActivity" />
    </application>

</manifest>